:root {
  --accent-color: #f8c6b7;
  --accent-color-secondary: #b98c80;
  --accent-color-tertiary: #eaac99;
  --accent-color-dark: #79574c;
  --dark: #231f20;
  --light: #fcfcfc;
}

/*Globals*/
button {
  text-decoration: none;
}

section {
  width: 1280px;
  max-width: 1280px;
}

.hidden {
  display: none;
}

.accent-color {
  color: var(--light);
}

/* ///// */
body {
  box-sizing: border-box;
  margin: 0rem;
  background-color: var(--light);
}
  body.dark-mode {
  background-color: var(--dark);
}
body .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  z-index: 10;
}
body .navbar.dark-mode {
  background-color: var(--dark);
}

main {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  padding-top: 0rem;
  height: 5.5rem;
}
.navbar .nav-text {
  transition: 0.15s ease-out;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.4rem;
  color: var(--dark);
}
.navbar .nav-text.dark-mode {
  color: var(--light);
}
.navbar .nav-text-spacer {
  position: relative;
  transition: 0.15s ease-out;
  height: 0.2rem;
  left: 0.6rem;
  bottom: 0.2rem;
  width: 7.7rem;
  background-color: var(--dark);
}
.navbar .nav-text-spacer.dark-mode {
  background-color: var(--light);
}
.navbar .nav-menu-btn {
  transition: font-size 0.15s ease-out;
  font-size: 2.2rem;
  padding: 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-color: var(--dark);
  color: var(--dark);
}
.navbar .nav-menu-btn.dark-mode {
  color: var(--light);
}
.navbar .nav-menu-btn:hover {
  transition: color 0.15s ease-out;
  color: var(--accent-color-dark);
}
.navbar button {
  background: none;
  border: none;
}
.navbar .nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0rem;
}
.navbar .nav-list .nav-item {
  display: flex;
  width: 8rem;
  height: 2rem;
  margin-left: 2rem;
  list-style: none;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.navbar .nav-item a {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: 0.15s ease-out;
}
.navbar .nav-item:hover > * {
  color: var(--accent-color-secondary);
  font-size: 1.1rem;
}

#landing {
  height: 1000px;
  position: relative;
}
#landing .container {
  position: relative;
  box-sizing: border-box;
  width: 85%;
  min-height: 320px;
  margin: auto;
  margin-top: 9rem;
  margin-bottom: 14rem;
  padding: 1rem;
}
#landing h3 {
  font-size: 4rem;
  padding-right: 30%;
  margin: 0rem;
  margin-top: 1rem;
  line-height: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--dark);
}
#landing h3.dark-mode {
  color: var(--light);
}
#landing .hero-description {
  margin: 0rem;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: var(--dark);
}
#landing .hero-learnmore-btn {
  margin-top: 1.5rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background-color: transparent;
  transition: 0.15s ease-out;
  border: solid 0.2rem var(--dark);
  border-radius: 1.17rem;
  color: var(--dark);
}
#landing .hero-learnmore-btn:hover {
  color: var(--accent-color);
  background-color: var(--dark);
  border-color: var(--dark);
}
#landing #hero-illustration {
  position: absolute;
  margin-top: -10rem;
  transition: margin-top, right 0.3s ease-out;
  right: 0rem;
  width: 80%;
  min-width: 5rem;
  max-width: 38rem;
  height: auto;
  z-index: 0;
  filter: invert(0);
}
#landing .landing-bgBox {
  position: absolute;
  bottom: 8rem;
  right: -36rem;
  z-index: -1;
  border-radius: 40rem;
  transform: rotate(10deg);
  background-color: var(--accent-color);
  width: 150vw;
  height: 120vh;
  min-height: 100rem;
}

#blog-section {
  height: 900px;
  margin-top: 10rem;
}
#blog-section .container {
  position: relative;
  width: 85%;
  min-height: 320px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 14rem;
  padding: 1rem;
}
#blog-section .blog-text {
  font-size: 4.1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: end;
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-right: -1rem;
}
#blog-section .blog-description {
  margin: 0rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: end;
  padding-left: 25rem;
}
#blog-section .blog-btn {
  position: absolute;
  right: 1rem;
  width: 7rem;
  height: 3rem;
  margin-top: 1.5rem;
  margin-right: -2rem;
  font-size: 1.1rem;
  background-color: var(--accent-color);
  color: var(--light);
  border: 0.2rem;
  border-radius: 1.17rem;
  transition: background-color, color 0.15s ease-out;
}
#blog-section .blog-btn:hover {
  background-color: transparent;
  border: solid 0.15rem var(--accent-color-secondary);
  color: var(--accent-color-secondary);
  background-color: transparent;
}
#blog-section #blog-illustration {
  position: absolute;
  margin-top: -7rem;
  transition: margin-top, right 0.3s ease-out;
  left: -3rem;
  width: 80%;
  min-width: 5rem;
  max-width: 35rem;
  height: auto;
  z-index: 0;
  transform: rotate(35deg);
}
#blog-section #blog-bgBox {
  position: relative;
  bottom: 30rem;
  left: -15rem;
  border-radius: 15rem;
  background-color: var(--accent-color);
  width: 36rem;
  height: 40rem;
  transform: rotate(38deg);
  animation-name: softRotate;
  animation-duration: 45s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -1;
}
  @keyframes softRotate {
    0% {
      transform: rotate(38deg);
    }
    25% {
      transform: rotate(60deg);
    }
    33% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(42deg);
    }
    75% {
      transform: rotate(34deg);
    }
    82% {
      transform: rotate(60deg);
    }
    100% {
      transform: rotate(38deg);
    }
  }

#recipes-section {
  height: 1000px;
}
#recipes-section .container {
  position: relative;
  width: 85%;
  min-height: 320px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 14rem;
  padding: 1rem;
}
#recipes-section .recipes-text {
  margin: 0rem;
  font-size: 4.1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: start;
}
#recipes-section .recipes-description {
  margin: 0rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: start;
}
#recipes-section .recipes-btn {
  margin: 0rem;
  margin-top: 1.5rem;
  position: absolute;
  left: 1rem;
  width: 7rem;
  height: 3rem;
  font-size: 1.1rem;
  background-color: transparent;
  transition: 0.15s ease-out;
  border: solid 0.2rem var(--dark);
  border-radius: 1.17rem;
  color: var(--dark);
}
#recipes-section .recipes-btn:hover {
  color: var(--light);
  background-color: var(--dark);
  border-color: var(--dark);
}
#recipes-section #recipes-illustration {
  position: absolute;
  margin-top: 0rem;
  transition: margin-top, right 0.3s ease-out;
  right: -3rem;
  width: 80%;
  min-width: 5rem;
  max-width: 30rem;
  height: auto;
  z-index: 0;
}
#recipes-section #recipe-bgBox {
  position: absolute;
  left: -40rem;
  top: 20rem;
  border-radius: 30rem;
  transform: rotate(35deg);
  background-color: var(--accent-color);
  width: 150vw;
  height: 150vw;
  z-index: -1;
}
#recipes-section #recipe-bgBox:last-of-type {
  position: absolute;
  left: -80rem;
  top: 30rem;
  border-radius: 20rem;
  transform: rotate(60deg);
  background-color: var(--accent-color);
  width: 100vw;
  height: 100vw;
  z-index: -1;
}