:root {
  --accent-color: #f8c6b7;
  --accent-color-dark: #79574c;
  --dark: #1a1a1a;
  --light: #fcfcfc;
}

/*Globals*/
.hide-overflow {
  width: 100vw;
  overflow-x: hidden;
}
.hide-overflow > * {
  box-sizing: border-box;
}

button {
  text-decoration: none;
}

.hidden {
  display: none;
}

.ochre-btn {
  height: 2rem;
  border: solid 0.15rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--dark);
}

.ochre-btn-accent {
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  color: var(--light);
}
/* ///// */
body {
  margin: 0rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
}
  body.dark-mode {
  background-color: var(--dark);
}
body .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  z-index: 10;
}
body .navbar.dark-mode {
  background-color: var(--dark);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  padding-top: 0rem;
  height: 5.5rem;
}
.navbar .nav-text {
  transition: 0.15s ease-out;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.4rem;
  color: var(--dark);
}
.navbar .nav-text.dark-mode {
  color: var(--light);
}
.navbar .nav-text-spacer {
  position: relative;
  transition: 0.15s ease-out;
  height: 0.2rem;
  left: 0.6rem;
  bottom: 0.2rem;
  width: 7.7rem;
  background-color: var(--dark);
}
.navbar .nav-text-spacer.dark-mode {
  background-color: var(--light);
}
.navbar .nav-menu-btn {
  transition: font-size 0.15s ease-out;
  font-size: 2.2rem;
  padding: 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--dark);
}
.navbar .nav-menu-btn.dark-mode {
  color: var(--light);
}
.navbar .nav-menu-btn:hover {
  transition: color 0.15s ease-out;
  color: var(--accent-color-dark);
}
.navbar button {
  background: none;
  border: none;
}

main {
  height: 300vh;
  width: 100%;
}

#landing {
  height: 550px;
}
#landing .container {
  position: relative;
  box-sizing: border-box;
  width: 85%;
  max-width: 800px;
  min-height: 320px;
  margin: auto;
  margin-top: 9rem;
  margin-bottom: 14rem;
  padding: 1rem;
}
#landing .container > * {
  margin: 0;
  padding: 0;
  width: auto;
}
#landing h3 {
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#landing h3.dark-mode {
  color: var(--light);
}
#landing .hero-description {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}
#landing .hero-learnmore-btn {
  margin-top: 1rem;
  width: 7rem;
}
#landing .hero-learnmore-btn:hover {
  transition: color 0.15s ease-out;
  color: var(--accent-color-dark);
}
#landing #hero-illustration {
  position: absolute;
  margin-top: 4rem;
  transition: margin-top, right 0.3s ease-out;
  right: 0rem;
  width: 80%;
  min-width: 5rem;
  height: auto;
  z-index: 0;
  filter: invert(0);
}
#landing #landing-bgBox {
  position: relative;
  top: -48rem;
  left: -5rem;
  z-index: -1;
  border-radius: 10rem;
  transform: rotate(22deg);
  background-color: var(--accent-color);
  width: 150%;
  height: 120%;
}


#blog-section {
  height: 550px;
}
#blog-section .container {
  position: relative;
  box-sizing: border-box;
  width: 85%;
  max-width: 800px;
  min-height: 320px;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 14rem;
  padding: 1rem;
}
#blog-section .blog-text {
  font-size: 2.2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: end;
}
#blog-section .blog-description {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-align: end;
}
#blog-section .blog-btn {
  position: absolute;
  right: 1rem;
  width: 6.2rem;
  height: 2.2rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
#blog-section .blog-btn:hover {
  transition: 0.15s ease-out;
  background-color: transparent;
  border: solid 0.16rem var(--accent-color-dark);
  color: var(--accent-color-dark);
}
#blog-section #blog-illustration {
  position: absolute;
  margin-top: 0rem;
  transition: margin-top, right 0.3s ease-out;
  left: -3rem;
  width: 80%;
  min-width: 5rem;
  height: auto;
  z-index: 0;
  transform: rotate(35deg);
}
#blog-section #blog-bgBox {
  position: relative;
  top: -25rem;
  left: -27rem;
  border-radius: 10rem;
  background-color: var(--accent-color);
  transform: rotate(33deg);
  width: 30rem;
  height: 40rem;
  z-index: -1;
}

@media (min-width: 320px) {
  .navbar {
    height: 5.5rem;
  }
  #landing h3 {
    font-size: 2.1rem;
  }
  #landing #hero-illustration.dark-mode {
  margin-top: 1rem;
  }
}
@media (min-width: 430px) {
  #landing h3 {
    max-width: 30rem;
    font-size: 2.6rem;
  }
  #landing #hero-illustration.dark-mode {
    margin-top: 1rem;
    right: -1rem;
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 5rem;
  }
}
@media (min-width: 1080px) {
  .navbar {
    height: 4.8rem;
  }
}
@media (min-width: 1280px) {
  .navbar {
    height: 4.6rem;
  }
}