button {
  background: none;
  border: none;
}

body {
  margin: 0rem;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.6rem;
    transition: height 0.3s ease-out, box-shadow 0.3s ease-out;
    background-color: white;
  }

  #content {
    margin-top: 5rem;
    max-width: 1280px;
    min-height: 200vh;
    background-color: #f8c6b7;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  padding-top: 0rem;

  .nav-text {
    transition: font-size 0.15s ease-out;
    font-size: 1.8rem;
    margin: 0;
  }

  .nav-menu-btn {
    transition: font-size 0.15s ease-out;
    font-size: 2.2rem;
    padding: 0rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .nav-menu-btn:hover {
    opacity: 0.8;
  }
}

@media (max-width: "428px") {
  .nav-menu-btn {
    background-color: aqua;
  }
}