@inherits LayoutComponentBase

<PageTitle>ochre-ivy</PageTitle>

<div class="page">
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
