.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
}

.navbar {
  background-color: white; /*#839c80*/
}

.content {
  padding: 0rem;
}

@media (max-width: 640.98px) {
    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 420px) {
  .sidebar {
    background-color: #839c80;
  }
}