/* _content/ochre-ivy/Pages/Index.razor.rz.scp.css */

/* _content/ochre-ivy/Shared/MainLayout.razor.rz.scp.css */
.page[b-v3vtvp4loa] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v3vtvp4loa] {
  flex: 1;
  padding: 1rem;
}

.navbar[b-v3vtvp4loa] {
  background-color: white; /*#839c80*/
}

.content[b-v3vtvp4loa] {
  padding: 0rem;
}

@media (max-width: 640.98px) {
    .top-row.auth[b-v3vtvp4loa] {
        justify-content: space-between;
    }

    .top-row a[b-v3vtvp4loa], .top-row .btn-link[b-v3vtvp4loa] {
        margin-left: 0;
    }
}

@media (min-width: 420px) {
  .sidebar[b-v3vtvp4loa] {
    background-color: #839c80;
  }
}
/* _content/ochre-ivy/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-y1d6gh1bwk] {
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

  .navbar-toggler:hover[b-y1d6gh1bwk] {
    background-color: rgba(0,0,0,0.8);
  }

.top-row[b-y1d6gh1bwk] {
  height: 3.5rem;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.05);
}

  .top-row .container[b-y1d6gh1bwk] {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.navbar-brand[b-y1d6gh1bwk] {
  font-size: 1.1rem;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.nav-item-container[b-y1d6gh1bwk] {
  background-color: rgba(0,0,0,0.02);
}

.nav-item[b-y1d6gh1bwk] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

  .nav-item[b-y1d6gh1bwk]  a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: lightgrey;
transition: color 0.2s ease-in-out;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;
  }

  .nav-item:last-of-type[b-y1d6gh1bwk] {
      padding-bottom: 1rem;
  }

  .nav-item[b-y1d6gh1bwk]  a.active {
      background-color: rgba(255,255,255,0.25);
      color: black;
  }

  .nav-item[b-y1d6gh1bwk]  a:hover {
      background-color: rgba(0,0,0,0.08);
      color: black;
  }

.collapse[b-y1d6gh1bwk] {
  display: none;
}
