<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <main>
    <section id="about-section">
      <div class="section-container">
        <h1 class="about-page-title">A LITTLE ABOUT ME</h1>
        <div class="about-container">
          <div class="wrapper">
            <div class="img-container">
              <img src="./about-portrait.jpg" alt="" class="about-img portrait">
            </div>
            <div class="img-container">
              <img src="./about-filler.jpg" alt="" class="about-img filler">
            </div>
          </div>
          <div class="wrapper">
            <p class="about-description">
              Hello there! My name is Kylie and I am a primary school teacher and creator with a passion for inspiring creativity in others. I have always been drawn to the creative arts - music, dance, drama, and art - and love sharing my passions with my students.
            </p>
            <p class="about-description">
              But my interests don't stop there! I am also a big believer in the power of Gut Health and wellness, and have seen firsthand how incorporating plant-based recipes into my diet can improve my overall well-being. That's why I created 'The Lipstick Hippy', a website dedicated to sharing my own plant-based recipes.
            </p>
            <p class="about-description">
              Speaking of creativity, during the lockdown of 2020, I rediscovered my love for gardening and began experimenting with succulent arrangements and crafting my own pots. This experience sparked the creation of Ochre & Ivy, a celebration of nature and the beauty of the handmade.
            </p>
            <p class="about-description">
              Now, I am excited to bring all of my creative endeavours together in one place with this blog. From sharing my own personal projects to offering tips and inspiration for tapping into your own creativity, I can't wait to connect with others who share my love for all things creative.
              So if you're looking for a little bit of inspiration or just want to connect with others who share your love of the creative arts, I hope you'll join me on this journey! Let's make something beautiful together.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('partials/footer.ejs') %>
</body>
  <footer>
    <script type="module" src="/src/main.ts"></script>
  </footer>
</html>