<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <main>
    <section id="landing">
      <div class="section-container">
        <h1 class="hero-text">NOURISH, CREATE MOTIVATE</h1>
        <p class="hero-description">Recipes & blogs for holistic living</p>
        <a class="landing-btn accent-button button-outlined-black" href="/about">Learn More</a>
        <img id="hero-illustration" class="" src="./painters-palette.png" alt="A painting paintbrush">
      </div>
      <div class="landing-bgBox"></div> 
    </section>
    <section id="blog-section">
      <div class="section-container">
        <div class="blog container">
          <h3 class="blog-text">A naturally simple blog.</h3>
          <p class="blog-description">Your body deserves to be nourished, but where do you start? Being <span class="color-highlight">healthy</span> can be an overwhelming topic but our blog makes it simple; without the clutter.</p>
          <a class="blog-btn accent-button button-solid-accent" href="/blog">View blog</a>
        </div>
        <div class="latest-post container">
          <div class="wrapper">
            <h4 class="latest-post-title">Latest post</h4>
            <p class="latest-post-date">May 1, 2021</p>
          </div>
          <h3 class="latest-post-text">How to make a healthy smoothie</h3>
          <p class="latest-post-description">Smoothies are a great way to get a quick, healthy meal in. They’re easy to make, and you can customize them to your liking. Here’s how to make a healthy smoothie.</p>
          <a class="latest-post-btn accent-button button-outlined-black" href="/blog?page=all&filter=recipe">Read now</a>
        </div>
        <img id="blog-illustration" class="" src="./idea-tree.png" alt="An idea tree">
        <div id="blog-bgBox"></div>
      </div>
    </section>
    <section id="recipes-section">
      <div class="section-container">
        <h3 class="recipes-text">Delicious, plant-based recipes.</h3>
        <p class="recipes-description">Boost your energy and help your body thrive with gut-health friendly recipes.</p>
        <a class="recipes-btn accent-button button-outlined-black" href="/blog?page=all&filter=recipe">View all</a>
        <div class="recipe-bgBox"></div>
        <div class="recipe-bgBox"></div>
      </div>
    </section>
  </main>
  <footer id="footer-main">
    <div class="section container">
      <section class="footer-links">
        <nav>
          <ul class="footer-nav-menu">
            <li class="footer-nav-item"><a href="">Home</a></li>
            <li class="footer-nav-item"><a href="/blog">Blog</a></li>
            <li class="footer-nav-item"><a href="/blog?section=all&filter=recipe">Recipes</a></li>
            <li class="footer-nav-item"><a href="/about">About</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </footer>
</body>
  <footer>
    <script type="module" src="/src/main.ts"></script>
  </footer>
</html>
