.page[b-v3vtvp4loa] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v3vtvp4loa] {
  flex: 1;
  padding: 1rem;
}

.navbar[b-v3vtvp4loa] {
  background-color: white; /*#839c80*/
}

.content[b-v3vtvp4loa] {
  padding: 0rem;
}

@media (max-width: 640.98px) {
    .top-row.auth[b-v3vtvp4loa] {
        justify-content: space-between;
    }

    .top-row a[b-v3vtvp4loa], .top-row .btn-link[b-v3vtvp4loa] {
        margin-left: 0;
    }
}

@media (min-width: 420px) {
  .sidebar[b-v3vtvp4loa] {
    background-color: #839c80;
  }
}