:root {
  --accent-color: #f8c6b7;
  --accent-color-secondary: #b98c80;
  --accent-color-tertiary: #eaac99;
  --accent-color-dark: #79574c;
  --accent-color-darker: #6b4c42;
  --dark: #231f20;
  --light: #fcfcfc;
}

/*Globals*/
button {
  text-decoration: none;
}

section {
  width: 1280px;
  max-width: 1280px;
}
section:first-of-type {
  margin-top: clamp(12rem, 18vh, 14rem);
}
section .section-container {
  margin: auto;
  padding: 1rem;
  width: 85%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.accent-color {
  color: var(--light);
}

/* Client styling */
body {
  box-sizing: border-box;
  margin: 0rem;
  background-color: var(--light);
  overflow-x: hidden;
}
body.dark-mode {
  background-color: var(--dark);
}

body .navbar.dark-mode {
  background-color: var(--dark);
}

main {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5.5rem;
}
.navbar .section {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  height: 100%;
}
.navbar .container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0rem;
  padding: 1rem;
  padding-top: 0rem;
  box-sizing: border-box;
}
.navbar .container .wrapper {
  cursor:pointer;
  text-decoration: none;
  user-select: none;
}
.navbar .nav-text {
  transition: 0.15s ease-out;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.4rem;
  color: var(--dark);
}
.navbar .nav-text.dark-mode {
  color: var(--light);
}
.navbar .nav-text-spacer {
  position: relative;
  transition: 0.15s ease-out;
  height: 0.2rem;
  left: 0.6rem;
  bottom: 0.2rem;
  width: 7.7rem;
  background-color: var(--dark);
}
.navbar .nav-text-spacer.dark-mode {
  background-color: var(--light);
}
.navbar .nav-menu-btn {
  transition: font-size 0.15s ease-out;
  font-size: 2.2rem;
  padding: 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-color: var(--dark);
  color: var(--dark);
}
.navbar .nav-menu-btn.dark-mode {
  color: var(--light);
}
.navbar .nav-menu-btn:hover {
  transition: color 0.05s ease-out;
  color: var(--accent-color-darker);
}
.navbar button {
  display: none;
  background: none;
  border: none;
}
.navbar .nav-btn-bg {
  transition: background-color 0.15s ease-out;
}
.navbar .nav-menu {
  display: block;
}
.navbar .nav-list {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0rem;
}
.navbar .nav-list .nav-item {
  top: 0rem;
  list-style: none;
  width: 9rem;
  height: 3.5rem;
}
.navbar .nav-item a {
  color: var(--dark);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: 0.1s ease-out;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar .nav-item:hover > * {
  color: var(--accent-color-darker);
  font-size: 1.3rem;
}

/* reusable components */
.accent-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  margin-top: 1.5rem;
  font-family: 'Latp', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 1.15rem;
  border: solid 2px;
  transition: 0.15s ease-out;
  cursor: pointer;
}

.button-outlined-black {
  color: var(--dark);
  border-color: var(--dark);
  background-color: transparent;
}
.button-outlined-black:hover {
  color: var(--accent-color);
  border-color: var(--dark);
  background-color: var(--dark);
}

.button-outlined-accent {
  color: var(--accent-color-secondary);
  border-color: var(--accent-color-secondary);
  background-color: transparent;
}
.button-outlined-accent:hover {
  color: var(--light);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.button-solid-accent {
  color: var(--light);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.button-solid-accent:hover {
  color: var(--accent-color-secondary);
  border-color: var(--accent-color-secondary);
  background-color: transparent;
}

.button-light-shadow {
  box-shadow: 0 0 1rem 0rem rgba(0,0,0,0.05);
  color: var(--dark);
  border-color: var(--light);
  background-color: var(--light);
}

/* find in navbarInteraction */
#notification {
  margin-top: 0rem;
  position: fixed;
  left: 4rem;
  top: 7.2rem;
  z-index: 3;
  transition: 0.3s ease-out;
  opacity: 1;
}
#notification .container {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 2rem 0rem rgba(0,0,0,0.15);
  border-radius: 0.5rem;
  height: auto;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#notification .container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#notification .check-symbol {
  font-size: 1.5rem;
  color: var(--accent-color-tertiary);
}
#notification .logged-in {
  padding: 0rem;
  margin: 0rem;
  font-size: 1.3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
#notification .logged-in-notification {
  padding: 0rem;
  margin: 0rem;
  font-size: 2;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#landing {
  height: 850px;
  position: relative;
  margin-bottom: 17rem;
}
#landing .section-container {
  min-height: 320px;
}
#landing .hero-text {
  font-size: 4rem;
  padding-right: 30%;
  margin: 0rem;
  line-height: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--dark);
}
#landing .hero-text .dark-mode {
  color: var(--light);
}
#landing .hero-description {
  margin: 0rem;
  width: auto;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: var(--dark);
}
#landing .group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  gap: 1.5rem;
}
#landing #hero-illustration {
  position: absolute;
  bottom: 8rem;
  right: 0rem;
  transition: margin-top, right 0.3s ease-out;
  width: 80%;
  min-width: 5rem;
  max-width: 38rem;
  height: auto;
  z-index: 0;
  filter: invert(0);
}
#landing .landing-bgBox {
  position: absolute;
  left: -40rem;
  right: -25rem;
  bottom: clamp(2rem, 20%, 6rem);
  width: auto;
  height: auto;
  min-height: 100rem;
  border-radius: 40rem;
  transform: rotate(10deg);
  background-color: var(--accent-color);
  z-index: -1;
}

#blog-section {
  height: 750px;
  margin-bottom: 25rem;
}
#blog-section .section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}
#blog-section .blog.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}
#blog-section .blog-text {
  font-size: 4.1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: end;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
#blog-section .blog-description {
  margin: 0rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: end;
  padding-left: 25rem;
}
#blog-section #blog-illustration {
  position: absolute;
  transition: margin-top, right 0.3s ease-out;
  left: -3rem;
  top: 8rem;
  width: 70%;
  height: auto;
  min-width: 5rem;
  max-width: 35rem;
  z-index: 0;
  transform: rotate(30deg);
}
#blog-section .blog-post {
  width: 48%;
  height: 100%;
  min-height: 0rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 12rem;
}
#blog-section .blog-post .group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#blog-section .blog-post .group .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#blog-section .blog-post .group .wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
#blog-section .blog-post .group .wrapper:last-of-type {
  justify-content: center;
  align-items: center;
}
#blog-section .blog-post .blog-title {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  max-width: 20rem;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#blog-section .blog-post .blog-date {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: start;
  margin: 0rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: grey;
}
#blog-section .blog-post .blog-subtitle {
  margin: 0rem;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: start;
  width: 25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#blog-section .blog-post .blog-btn {
  width: 4rem;
  height: 2.5rem;
  font-size: 1rem;
  margin-top: 0rem;
}
#blog-section #blog-bgBox {
  position: absolute;
  top: 8rem;
  left: -12rem;
  border-radius: 15rem;
  background-color: var(--accent-color);
  width: 38rem;
  height: 38rem;
  transform: rotate(38deg);
  animation-name: softRotate;
  animation-duration: 40s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -1;
}
  @keyframes softRotate {
    0% {
      transform: rotate(38deg);
      height: 40rem;
    }
    25% {
      transform: rotate(60deg);
      height: 36rem;
    }
    33% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(42deg);
      border-radius: 15rem;
    }
    75% {
      transform: rotate(95deg);
      border-radius: 25rem;
    }
    82% {
      transform: rotate(60deg);
      border-radius: 15rem;
      height: 40rem;
    }
    100% {
      transform: rotate(38deg);
    }
  }

#recipes-section .section-container {
  min-height: 320px;
}
#recipes-section .recipes-text {
  margin: 0rem;
  font-size: 4.1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: start;
}
#recipes-section .recipes-description {
  margin: 0rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: start;
}
#recipes-section .recipes-section-btn {
  margin-bottom: 1.5rem;
}
#recipes-section .recipes-btn:hover {
  color: var(--light);
}
#recipes-section #recipes-illustration {
  position: absolute;
  margin-top: 0rem;
  transition: margin-top, right 0.3s ease-out;
  right: -3rem;
  width: 80%;
  min-width: 5rem;
  max-width: 30rem;
  height: auto;
  z-index: 0;
}
#recipes-section .recipe-bgBox {
  position: absolute;
  left: -36em;
  top: 15rem;
  bottom: -52rem;
  width: auto;
  height: auto;
  min-height: 100rem;
  min-width: 150rem;
  border-radius: 40rem;
  transform: rotate(35deg);
  background-color: var(--accent-color);
  z-index: -2;
}
#recipes-section .recipe-bgBox2 {
  position: absolute;
  left: 6rem;
  top: 26rem;
  border-radius: 50rem;
  transform: rotate(50deg);
  background-color: var(--accent-color);
  width: 100vw;
  height: 100vw;
  z-index: -1;
  min-height: 100rem;
  min-width: 150rem;
  bottom: -52rem;
}

#recipes-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -3rem;
  background-color: var(--accent-color);
}
#recipes-box .section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#recipes-box .container-full-width {
  width: 100vw;
  min-width: 100vw;
  min-height: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 0rem;
  gap: 4rem;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 1rem;
  padding: 0rem clamp(9.5vw,calc(22vw - 10%),5rem);
  z-index: 0;
}
#recipes-box .recipe-post  {
  min-width: 40rem;
  width: 80%;
  height: 56rem;
  min-height: 80%;
  background-color: var(--light);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#recipes-box .recipe-post .recipe-desc {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 1rem;
  color: var(--dark);
}
#recipes-box .recipe-post .method-container {
  height: 12rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0rem 2rem;
}
#recipes-box .recipe-post .recipe-method-h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 0.2rem;
  color: grey;
  font-style: bold;
}
#recipes-box .recipe-post .recipe-method-h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 0.2rem;
  color: grey;
  font-style: bold;
}
#recipes-box .recipe-post .recipe-method-p {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 1rem;
  color: grey;
}
#recipes-box .recipe-post .recipe-method-ul {
  margin: 0rem;
  color: grey;
  padding: 0rem;
  padding-left: 1.5rem;
}
#recipes-box .recipe-post .recipe-method-ul > li {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}
#recipes-box .recipe-post .wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#recipes-box .recipe-post .wrapper .group {
  height: 100%;
  width: 100%;
}
#recipes-box .recipe-post .wrapper .group:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4.5rem;
}
#recipes-box .cover-img {
  width: 100%;
  height: 20rem;
}
#recipes-box .cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
#recipes-box .recipe-post .recipe-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 0rem;
  margin-bottom: 0.5rem;
  color: var(--dark);
  line-height: 2.2rem;
}
#recipes-box .recipe-post .recipe-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  margin: 0rem;
  margin-bottom: 0.5rem;
  color: grey;
}
#recipes-box .recipe-post .blog-date {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 2rem;
  color: grey;
}
#recipes-box .recipe-post .blog-description.recipe {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  margin: 0rem;
  margin-bottom: 1rem;
  color: var(--dark);
  text-align: justify;
}
#recipes-box .recipe-post .recipe-btn {
  margin: 0rem;
}

#footer-main {
  position: relative;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  z-index: 1;
}
#footer-main .container {
  border-top: 2px solid;
  border-color: var(--dark);
  box-sizing: border-box;
  position: relative;
  width: 75%;
  min-height: 320px;
  max-width: 1280px;
  margin: auto;
  padding: 2rem 0rem;
}
#footer-main .footer-links {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  margin-top: 0rem;
  width: 100%;
}
#footer-main .footer-nav-menu {
  padding: 0rem;
  margin: 0rem;
}
#footer-main .footer-nav-item {
  list-style: none;
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
#footer-main .footer-nav-item a {
  text-decoration: none;
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  margin-left: 1.8rem;
  font-size: 1.1rem;
  transition: 0.1s ease-out;
}
#footer-main .footer-nav-item:hover > * {
  color: var(--accent-color-secondary);
  font-size: 1.2rem;
}

/* About page --------------------------------------- */
#about-section .about-page-title {
  font-family: Poppins, sans-serif;
  font-size: 3.1rem;
  font-weight: 400;
  margin: 0rem;
}

#about-section {
  min-height: 700px;
  margin-bottom: 7rem;
}
#about-section .about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 2rem;
}
#about-section .about-container .wrapper:first-of-type {
  position: relative;
}
#about-section .img-container {
  width: 85%;
  height: 85%;
  position: absolute;
  overflow: hidden;
}
#about-section .img-container:first-of-type {
  right: 0rem;
  top: 0rem;
}
#about-section .img-container:last-of-type {
  left: 0rem;
  bottom: 0rem;
}
#about-section .about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
#about-section .img-container .about-img.portrait{
  z-index: 1;
}
#about-section .img-container .about-img.filler {
  z-index: 0;
  width: 150%;
  height: 150%;
  top: -10%;
}
#about-section .about-description {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 2rem;
}
#about-section .about-description:first-of-type {
  margin-top: 0rem;
}

#about-instagram {
  margin-bottom: 7rem;
}
#about-instagram .about-page-title {
  text-align: right;
}

/* Server rendered styles */
/* Login --------------------------------------- */
#login-main {
  height: 100vh;
  margin-top: 0rem;
  min-height: 1000px;
}
#login-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  width: 85%;
  height: 100%;
  min-height: 320px;
  margin: auto;
}
#login-main .login-title {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0rem;
  text-align: center;
  line-height: 3rem;
}
#login-main .login-subtitle {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
#login-main .login-message {
  font-family: Lato, sans-serif;
  color: var(--accent-color-tertiary);
  font-size: 1.1rem;
  margin-top: 0.9rem;
  margin-bottom: 1rem;
}
#login-main .login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#login-main .wrapper {
  height: 280px;
  width: 350px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.15);
}
#login-main .input-section {
  width:100%;
  display:flex;
  flex-direction:column;
  margin-bottom:1rem
}
#login-main .input-section label {
  color: grey;
  font-size: 1.1rem;
}
#login-main .input-section input {
  height:2rem;
  border:none;
  border:1px solid grey;
  border-radius: 0.2rem;
  outline:none;font-size:1.2rem;
  font-family:Lato,sans-serif;
  font-weight:400;
  margin-top:.5rem;
  padding:.5rem .8rem
}
#login-main .login-button {
  width:100%;
  height:3.2rem;
  border:.2rem var(--accent-color) solid;
  border-radius:.5rem;
  transition:.15s ease-out;
  background-color:var(--accent-color);
  color:#fff;
  font-family:Lato,sans-serif;
  font-size:1.2rem;
  font-weight:400;
  cursor:pointer
}
#login-main .input-section p{
  font-size:.9rem;
  font-family:Lato,
  sans-serif;
  font-weight:400;
  margin:.1rem 0rem 0rem;
  color:var(--accent-color-secondary)
}
#login-main #login-password-visibility-toggle {
    position: relative;
    font-size: 1.2rem;
    left: 90%;
    bottom: 2.1rem;
    cursor: pointer;
}
#login-main .login-button:hover {
  background-color: var(--accent-color-secondary);
  border-color: var(--accent-color-secondary);
}
#login-main .signup-ref {
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  color: rgb(101, 101, 101);
}

/* Signup -------------------------------------- */
#signup-main {
  height: 100vh;
  margin-top: 0rem;
  min-height: 1000px;
}
#signup-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  width: 85%;
  height: 100%;
  min-height: 320px;
  margin: auto;
}
#signup-main .signup-title {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 3rem;
  line-height: 3rem;
}
#signup-main .signup-subtitle {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
#signup-main .signup-message {
  font-family: Lato, sans-serif;
  color: var(--accent-color-tertiary);
  font-size: 1.1rem;
  margin-top: 0.9rem;
  margin-bottom: 1rem;
}
#signup-main .signup-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#signup-main .wrapper {
  height: auto;
  width: 400px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.15);
}
#signup-main .signup-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#signup-main .signup-section label {
  color: grey;
  font-size: 1.1rem;
}
#signup-main .signup-section input {
  height: 2rem;
  border: none;
  border: 1px solid grey;
  border-radius: 0.2rem;
  outline: none;
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
  padding: 0.5rem 0.8rem;
}
#signup-main .signup-button {
  width: 100%;
  min-height: 3.2rem;
  border: 0.2rem var(--accent-color) solid;
  border-radius: 0.5rem;
  transition: 0.15s ease-out;
  background-color: var(--accent-color);
  color: black;
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  margin-top: 0.5rem;
}
#signup-main .signup-button:hover {
  background-color: var(--accent-color-secondary);
  border-color: var(--accent-color-secondary);
}
#signup-main .signup-section p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 0.1rem;
  color: var(--accent-color-secondary);
}
#signup-main .signup-ref {
  font-size: 1.1rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  color: rgb(101, 101, 101);
}

/* Blog Home ----------------------------------- */
#blogs-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
#blogs-nav * {
  position: relative;
  z-index: 1
}
#blogs-nav .section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  min-height: 0rem;
}
#blogs-nav .container {
  position: absolute;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
  top: 0rem;
  bottom: -5rem;
}
#blogs-nav .blogs-home-nav {
 transition: 0.3s ease-out;
}
#blogs-nav .blogs-home-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}
#blogs-nav .blog-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0rem;
  color: var(--dark);
  padding-left: 0rem;
  cursor: default;
  transition: 0.3s ease-out;
}
#blogs-nav .blog-nav-link {
  color: var(--accent-color-tertiary);
  transition: 0.15s ease-out;
  cursor: pointer;
  margin-left: 1.75rem;
  padding-left: 0rem;
}
#blogs-nav .blog-nav-link:hover {
  color: var(--accent-color-darker);
}
#blogs-nav .blog-nav-link.active {
  color: var(--dark);
  cursor: default;
}
#blogs-nav .blog-nav-link.blog-nav-home.active::after {
  font-family: Material Symbols Outlined;
  content: "\e5ce";
  --webkit-font-feature-settings: "liga";
  position: absolute;
  right: 38%;
  top: 2.8rem;
  font-size: 1.8rem;
}
#blogs-nav .blog-nav-link.blog-nav-all.active::after {
  font-family: Material Symbols Outlined;
  content: "\e5ce";
  --webkit-font-feature-settings: "liga";
  position: absolute;
  right: 30%;
  top: 2.8rem;
  font-size: 1.8rem;
}
#blogs-nav .blogs-header-bgBox {
  position: absolute;
  border-radius: 40rem;
  transform: rotate(-8deg);
  transition: 0.8s ease-out;
  background-color: var(--accent-color);
  width: auto;
  height: auto;
  min-height: 100rem;
  top: -50rem;
  left: -15rem;
  right: -18rem;
  z-index: -1;
}

.faux-page {
  opacity: 0;
  width: 100%;
  max-width: 1280px;
  min-height: 80vh;
  transition: 0.15s ease-out;
}
.faux-page.active {
  opacity: 1;
}

#blogs-featured {
  height: 700px;
  margin-top: 0rem;
}
#blogs-featured .featured-blog {
  height: 36rem;
  width: calc(100% - 2rem);
  transition: 0.5s ease-out;
  top: 1rem;
  left: 1rem;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.10);
  border-radius: 0.5rem;
  background-color: var(--light);
}
#blogs-featured .featured-blog .content {
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.5rem;
}
#blogs-featured .featured-blog .blog-title-featured {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0rem;
  margin-left: -0.1rem;
  color: var(--dark);
}
#blogs-featured .featured-blog .blog-subtitle {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--dark);
}
#blogs-featured .featured-blog .blog-date {
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 1rem;
  color: grey;
}
#blogs-featured .featured-blog .blog-description {
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 1rem;
  color: grey;
  height: auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
#blogs-featured .featured-blog .blog-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 7rem;
  height: 2.8rem;
  margin-top: 1.5rem;
  margin-right: -2rem;
  font-size: 1.1rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: var(--accent-color-secondary);
  background-color: transparent;
  border: 2px var(--accent-color-secondary) solid;
  border-radius: 1.17rem;
  transition: .15s ease-out;
}
#blogs-featured .featured-blog .blog-link:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-colory);
  color: var(--light);
}
#blogs-featured .featured-blog .cover-img {
  width: 45%;
  height: 100%;
  overflow: hidden;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blogs-featured .featured-blog .cover-img img {
  width: auto;
  height: 100%;
}
#blogs-featured .blog-image {
  width: auto;
  height: 100%;
}
#blogs-featured .featured-nav {
  bottom: 3rem;
  left: 0rem;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#blogs-featured .featured-nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  padding: 0rem;
  margin: 0rem;
}
#blogs-featured .featured-blog-link {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  transition: .15s ease-out;
  display: block;
  text-decoration: none;
  padding: 0rem;
  margin: 0rem;
}
#blogs-featured .featured-blog-link.active {
  background-color: var(--accent-color);
}
#blogs-featured .featured-blog-link.active:hover {
  background-color: var(--accent-color-tertiary);
}
#blogs-featured .featured-blog-link:hover {
  background-color: var(--accent-color);
}

#blogs-recipes-popular {
  height: auto;
  margin-top: 10rem;
  max-width: none;
}
#blogs-recipes-popular .section-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
}
#blogs-recipes-popular .title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0rem;
  margin-bottom: 3.5rem;
  color: var(--dark);
}

#blogs-recipes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 3.5rem;
  margin-bottom: 8rem;
}
#blogs-recipes .recipe-blog {
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  background-color: var(--light);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
}
#blogs-recipes .recipe-blog .cover-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 0.5rem;
}
#blogs-recipes .recipe-blog .cover-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
#blogs-recipes .recipe-blog .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.2rem;
}
#blogs-recipes .recipe-blog .blog-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0rem;
  color: var(--dark);
}
#blogs-recipes .recipe-blog .blog-subtitle {
  font-family: Lato,sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: .5rem 0rem;
  color: var(--dark);
}
#blogs-recipes .recipe-blog .blog-date {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0rem;
  color: grey;
  padding-bottom: 2rem;
}
#blogs-recipes .recipe-blog .blog-description.recipe {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 1rem;
  color: grey;
  height: auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
#blogs-recipes .recipe-blog .blog-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 7rem;
  height: 2.8rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  border-radius: 1.17rem;
  border: 2px solid;
  transition: .15s ease-out;
  cursor: pointer;
}

#blogs-recent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3.5rem;
  border-radius: 0.5rem;
}
#blogs-recent .recent-blog {
  width: 100%;
  height: 18rem;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.05);
}
#blogs-recent .recent-blog .content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
#blogs-recent .recent-blog-spacer {
  border-top: 1px solid grey;
  opacity: 0.5;
  height: 1px;
  width: 80%;
  margin-bottom: -0.05rem;
}
#blogs-recent .content .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#blogs-recent .content .wrapper .group {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#blogs-recent .content .wrapper .group .container:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
#blogs-recent .group .blog-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0rem;
  color: var(--dark);
}
#blogs-recent .group .blog-subtitle {
  font-family: Lato,sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: .5rem 0rem;
  color: var(--dark);
}
#blogs-recent .group .blog-date {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  color: grey;
}
#blogs-recent .group .recent-blog-btn {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}
#blogs-recent .group .recent-blog-btn span {
  font-size: 2rem;
  padding-left: 0.2rem;
}
#blogs-recent .cover-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blogs-recent .cover-img img {
  height: 100%;
  width: auto;
}

#blog-all-toolbar {
  margin-top: 0rem;
  margin-bottom: 2rem;
}
#blog-all-toolbar .section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#blog-all-toolbar .section-container .wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#blog-all-toolbar .section-container .wrapper:last-of-type {
  flex-direction: column;
  justify-content: center;
}
#blog-all-toolbar .search-input {
  font-size: 1.1rem;
  width: 100%;
  height: 2.3rem;
  border-radius: 1rem;
  padding: 0rem 0.8rem;
  border: none;
  transition: 0.15s ease-out;
}
#blog-all-toolbar .search-input:focus {
  outline: none;
}
#blog-all-toolbar .search-icon {
  position: relative;
  color: grey;
  font-size: 1.4rem;
  right: 2.2rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blog-all-toolbar .filter-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0rem;
  color: var(--dark);
}
#blog-all-toolbar .group.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#blog-all-toolbar .group .filter-button {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem;
  color: var(--accent-color-secondary);
  cursor: pointer;
  transition: .15s ease-out;
}
#blog-all-toolbar .filter-buttons .filter-button:hover {
  color: var(--dark);
}
#blog-all-toolbar .filter-buttons .filter-button.active {
  color: var(--dark);
}

#blogs-all {
  margin-top: 0rem;
}
#blogs-all .section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
#blogs-all .all-blog {
  width: 100%;
  height: auto;
  min-height: 20rem;
  background-color: var(--light);
  border-radius: 0.5rem;
}
#blogs-all .all-blog.dashboard {
  box-shadow: 0rem 0rem 2rem 0rem rgba(0,0,0,0.1);
}
#blogs-all .cover-img {
  width: 100%;
  height: 40%;
  border-radius: 0.5rem;
  overflow: hidden;
}
#blogs-all .cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
#blogs-all .content {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  gap: 2rem;
}
#blogs-all .content .blog-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0rem;
  color: var(--dark);
}
#blogs-all .content .blog-subtitle {
  font-family: 'Lato',sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: .5rem 0rem;
  color: var(--dark);
}
#blogs-all .content .blog-date {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  color: grey;
  margin-bottom: 0.5rem;
}
#blogs-all .content .blog-description.all {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  color: grey;
}
#blogs-all .content .blog-link-all {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  height: 2.5rem;
  width: 4.5rem;
  font-size: 1rem;
}

#blogs-more {
  margin-top: 0rem;
  margin-bottom: 6rem;
}
#blogs-more .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blogs-more .more-button {
  height: 3rem;
  width: 8rem;
}
/* Post ---------------------------------------- */
#blog-post {
  min-height: 80vh;
  margin-bottom: 6rem;
}
#blog-post .container {
  min-height: 320px;
}
#blog-post .post-title {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  line-height: 3.5rem;
  margin: 0rem;
  margin-bottom: 1rem;
  margin-left: -0.1rem;
}
#blog-post .post-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: start;
  margin-bottom: 0.2rem;
}
#blog-post #post-date {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: start;
  margin: 0rem;
  margin-bottom: 3rem;
  color: grey;
}
#blog-post .admin-controls {
  margin-bottom: 1.5rem;
}
#blog-post .admin-controls a {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: start;
  margin: 0rem;
  margin-bottom: 3rem;
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
}
#blog-post .nav-controls a:hover {
  color: var(--dark);
}
#blog-post .nav-controls {
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}
#blog-post .nav-controls a {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: start;
  margin: 0rem;
  margin-bottom: 3rem;
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
}
#blog-post .admin-controls a:hover {
  color: var(--dark);
}

#footer-main .container.no-border {
  border-top: none;
}

/* Dashboard Section ------------------------------ */
#admin-dash-stats {
  margin-top: 0rem;
  margin-bottom: 6rem;
}
#admin-dash-stats .section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--light);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
}
#admin-dash-stats .wrapper {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  justify-content: center;
  align-items: center;
}
#admin-dash-stats .container {
  width: 100%;
  height: 100%;
}
#admin-dash-stats .container.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}
#admin-dash-stats .container.main .stat-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
#admin-dash-stats .container.most-viewed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#admin-dash-stats .container.most-viewed .stat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#admin-dash-stats .container.most-viewed .group {
  width: 100%;
  height: 100%;
}
#admin-dash-stats .most-viewed .stat-most-viewed {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
#admin-dash-stats .stats-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 0.5rem;
}
#admin-dash-stats .stat-label {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0rem;
  margin-bottom: 1rem;
  color: var(--dark);
}
#admin-dash-stats .stat-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 1rem;
  color: grey;
}
#admin-dash-stats h3.stat-title {
  margin-bottom: 0.4rem;
}
#admin-dash-stats .stat-value {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  color: var(--dark);
}
#admin-dash-stats .most-viewed-link {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
}
#admin-dash-stats .most-viewed-blog-views {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  color: var(--dark);
}
#admin-dash-stats .stat-most-viewed .most-viewed-blog {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid grey;
}
#admin-dash-stats .stat-most-viewed .most-viewed-blog:last-of-type {
  border-bottom: none;
}
#admin-dash-stats .most-viewed-blog .blog-title {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0rem;
  color: var(--dark);
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#admin-dash-stats .most-viewed-blog .visibility-icon {
  font-size: 1.3rem;
  color: var(--dark);
  margin-right: 1rem;
}
#admin-dash-stats .most-viewed-blog .delete-button {
  color: red;
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

#blog-all-toolbar .filter-buttons .filter-button.dashboard {
  color: grey;
}
#blog-all-toolbar .filter-buttons .filter-button.dashboard:hover {
  color: var(--dark);
}
#blog-all-toolbar .filter-buttons .filter-button.dashboard.active {
  color: var(--dark);
}
#blog-all-toolbar .search-input.dashboard {
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
}

#dash-blog-toolbar .blog-admin-button {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 10rem;
}
#blogs-all .all-blog.dashboard {
  height: 35rem;
}
#blogs-all .wrapper .group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}
#blogs-all .all-blog .blog-tags {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem;
  margin-bottom: 0.5rem;
  color: grey;
  font-style: oblique;
}
#blogs-all .blog-link-all-dash {
  border-radius: 1rem;
  height: 2.5rem;
  width: auto;
  padding: 0rem 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: none;
  border: 2px solid;
  transition: 0.15s ease-out;
}
#blogs-all .blog-link-all-dash:hover {
  font-size: 1.2rem;
}
#blogs-all .delete-button {
  color: darkred;
  border-color: darkred;
  cursor: pointer;
  user-select: none;
}
#blogs-all .delete-button:hover {
  color: red;
  border-color: red;
}

/* Editor/Blog Formatting --------------------- */
#link-section a {
  font-family: 'Poppins', sans-serif;
  color: grey;
  text-decoration: none;
  margin: 0rem;
  padding-right: 0.6rem;
  user-select: none;
}
#link-section a:not(:first-child) {
  padding-left: 0.6rem;
}
#link-section a:hover {
  color: var(--dark);
}
#link-section a.active {
  color: var(--dark);
}

#editor-link-section .container {
  width: 85%;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
}

#editor-section {
  padding-bottom: 3rem;
}
#editor-section .section-container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}
#editor-section #blog-new-form .wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 0rem;
}
#editor-section #blog-new-form p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0rem;
  margin-top: 0.1rem;
  color: var(--accent-color-secondary);
}
#editor-section .editor-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0rem;
  font-family: 'Poppins', sans-serif;
}
#editor-section #blog-new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#editor-section .input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
#editor-section label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0.2rem;
}
#editor-section .input-section input {
  height: 2rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid grey;
  outline: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0.5rem 0.8rem;
}
#editor-section #save-button {
  width: 7rem;
  height: 3rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--light);
  background-color: var(--accent-color);
  border: 0.2rem var(--accent-color) solid;
  border-radius: 1.17rem;
  transition: 0.15s ease-out;
}
#editor-section #save-button:hover {
  background-color: var(--accent-color-secondary);
  border-color: var(--accent-color-secondary);
}
#editor-section #post-response {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0rem;
  padding-bottom: 1.5rem;
  color: var(--accent-color-secondary);
}
#editor-section .editor-label {
  width: 100%;
  margin-top: 1.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid grey;
}
#editor-section .editor-input {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 106%;
}
#editorjs {
  max-width: 100%;
  padding: 1rem 2rem;
}
/*Editor styling */
#editorjs .ce-block__content, .ce-toolbar__content { 
  max-width:calc(100%) !important;
}
#editorjs .cdx-block {
  max-width:100%!important 
}
.ce-block__content * {
  text-overflow: clip;
  overflow-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}
.ce-block__content:first-of-type * {
  margin-top: 0rem;
}
.ce-paragraph{
  font-size: clamp(1rem,4vw,1.2rem);
  line-height:1.5;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  padding: 0rem;
  margin: 0rem;
  padding-bottom: 2.5rem;
}
.ce-paragraph a {
  color: var(--accent-color-secondary);
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid var(--accent-color-secondary);
}
.ce-header {
  font-family: 'Poppins', sans-serif;
  margin: 0rem;
  padding: 0rem;
}
.ce-block__content h3 {
  font-size: clamp(1.8rem,4vw,2rem);
  padding-top: clamp(2rem,4vw,2.5rem);
  padding-bottom: 0.5rem;
}
.ce-block__content h4 {
  font-size: clamp(1.4rem,4vw,1.6rem);
  padding-bottom: 0.5rem;
}
.image-tool {
  padding: 0rem;
  margin: 0rem;
}
.image-tool img {
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  height: auto;
  margin: 0rem;
  padding: 0rem;
  margin-bottom: 1.5rem;
}
.image-tool__caption {
  font-size: clamp(1rem,4vw,1.2rem);
  font-family: 'Lato', sans-serif;
  text-align: right;
  font-style: oblique;
  color:rgb(84, 84, 84);
  border: none;
  width: 85%;
  margin: auto;
  padding: 0rem;
  padding-bottom: clamp(4.5rem, 4vw, 6rem);
}
.image-tool__caption:focus {
  border: 1px solid grey;
}
#editorjs .cdx-quote__text {
  min-height: 0rem;
}
.cdx-quote__text {
  font-size: clamp(1.4rem,4vw,1.6rem);
  font-family:'Times New Roman', Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  height: auto;
  min-height: 0rem;
  margin: auto;
  padding: 0rem;
  padding-top: clamp(1.2rem,4vw, 2rem);
  padding-bottom: 1rem;
  max-width: 85%;
  font-style: oblique;
  line-height: 1.6;
  border: none;
}
#editorjs .cdx-quote__text:focus {
  border: 1px solid grey;
}
.cdx-quote__caption {
  font-size: clamp(1.3rem,4vw,1.6rem);
  font-family:'Times New Roman', Times, serif;
  color: rgb(84, 84, 84);
  padding: 0rem;
  padding-bottom: clamp(4.2rem,4vw,5.5rem);
  margin: auto;
  width: 75%;
  text-align: right;
  font-style: oblique;
  border: none;
}
.cdx-quote__caption:focus {
  border: 1px solid grey;
}
.cdx-list {
  width: 95%;
  padding: 0rem;
  margin: auto;
  margin-top: -0.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
}
.cdx-list__item {
  font-size: clamp(1rem,4vw,1.2rem);
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  text-align: left;
}



@media (max-width: 3840px) {
  .navbar .container {
    max-width: 1920px;
    margin: auto;
  }

  #recipes-section .recipe-bgBox {
    top: 18rem;
    left: -102rem;
    bottom: -240rem;
    right: -99rem;
    border-radius: 80rem;
  }
  #recipes-box {
    background-color: transparent;
  }
}

@media (max-width: 1280px) {
  main > section {
    width: 100%;
  }
  .faux-page > section {
    width: 100%;
  }

  #landing {
    margin-bottom: 13rem;
  }
  #landing #hero-illustration {
    width: clamp(22rem,65vw,30rem);
    height: auto;
  }

  #blog-section #blog-bgBox {
    top: 13rem;
    left: -24rem;
  }
  #blog-section .blog-description {
    padding-left: 18rem;
  }
  #blog-section .blog-post {
    width: 50%;
    height: 20rem;
  }
  #blog-section .blog-post .blog-subtitle {
    width: 20rem;
  }
  #blog-section #blog-illustration {
    width: clamp(20rem, 70vw, 30rem);
    height: auto;
    top: 13rem;
  }

  #blogs-nav .blogs-header-bgBox {
    top: -52rem;
  }
  #blogs-recipes-popular {
    width: 100%;
    margin-top: 8rem;
  }

  #blogs-featured {
    margin-bottom: clamp(4rem,12vw,12rem);
  }
  #blogs-featured .featured-blog .content {
    gap: 0rem;
  }

  #blogs-all .all-blog {
    height: 40rem;
  }
  #blogs-all .cover-img {
    height: 25%;
  }
}

@media (max-width: 980px) {
  section:first-of-type {
    margin-top: clamp(8rem,18vw,12rem)
  }
  section .section-container {
    width: 95%;
  }
 
  .navbar .container {
    width: 95%;
  }
  .navbar .nav-text {
    font-size: 1.6rem;
    width: 10rem;
  }
  .navbar .nav-text-spacer {
    display: none;
  }
  .navbar button {
    position: relative;
    top: 0.5rem;
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .navbar .nav-menu-btn {
    transition: 0.15s ease-out;
  }
  .navbar .nav-btn-bg {
    margin-right: -0.5rem;
    margin-bottom: -0.1rem;
  }
  .navbar .nav-menu {
    display: none;
    position: absolute;
    top: 7rem;
    right: 1.95rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    transition: opacity, top 0.15s ease-out
  }
  .navbar .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    top: 0rem;
    padding: 0rem;
  }
  .navbar .nav-list .nav-item {
    margin: 0rem;
    align-items: center;
    height: 3.8rem;
    width: 60vw;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  .navbar .nav-item:hover  {
    background-color: #fef1ed;
    font-size: 1.1rem;
  }
  .navbar .nav-item:hover > * {
    color: black;
    font-size: 1.1rem;
  }

  #landing {
    margin-bottom: clamp(6rem,14vw,12rem);
  }
  #landing .hero-text {
    font-size: 3.1rem;
    width: 90vw;
    margin-bottom: 0rem;
  }

  #blog-section {
    margin-bottom: clamp(16rem,40vw,23rem);
  }
  #blog-section #blog-bgBox {
    width: 28rem;
    height: 28rem;
    top: 18rem;
    left: -2rem;
    animation-name: softRotateMobile;
    animation-duration: 40s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-radius: 12rem;
  }
  @keyframes softRotateMobile {
    0% {
      transform: rotate(38deg);
      height: 28em;
    }
    25% {
      transform: rotate(60deg);
      height: 30rem;
    }
    33% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(42deg);
      border-radius: 15rem;
    }
    75% {
      transform: rotate(95deg);
      border-radius: 12rem;
    }
    82% {
      transform: rotate(60deg);
      border-radius: 15rem;
      height: 28rem;
    }
    100% {
      transform: rotate(38deg);
    }
  }
  #blog-section #blog-illustration {
    top: 14rem;
    transform: rotate(40deg);
  }
  #blog-section .blog-post {
    display: none;
  }
  #blog-section .blog-text {
    font-size: 3.1rem;
    width: 92vw;
    margin-bottom: 0rem;
  }
  #blog-section .blog-description {
    padding-left: 0rem;
    width: 80vw;
  }
  #blog-section .blog-btn {
    margin-top: 4rem;
    margin-right: 2rem;
  }

  #recipes-section .section-container {
    min-height: 0rem;
  }
  #recipes-section .recipes-text {
    font-size: 3.1rem;
    width: 90vw;
  }
  #recipes-section .recipes-description {
    width: 70vw;
  }
  #recipes-section .recipe-bgBox {
    top: 6rem;
    left: -86rem;
  }

  #recipes-box .container-full-width {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 2.1rem;
    margin-bottom: 10rem;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #recipes-box .recipe-post {
    width: 90vw;
    min-width: 90vw;
    min-height: 45rem;
    height: fit-content;
  }
  #recipes-box .recipe-post.hidden {
    display: none;
  }
  #recipes-box .recipe-post .wrapper .group:last-of-type {
    align-items: flex-end;
  }
  #recipes-box .cover-img {
    height: 20rem;
  }
  #recipes-box .recipe-post .method-container {
    padding: 0rem 1rem;
  }
  #recipes-box .recipe-post .recipe-title {
    font-size: 1.8rem;
    margin-top: 0rem;
  }
  #recipes-box .recipe-post .recipe-subtitle {
    font-size: 1rem;
  }
  #recipes-box .recipe-post .blog-date {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    font-style: italic;
  }
  #recipes-box .recipe-post .recipe-btn {
    margin-top: 1rem;
  }

  #blogs-featured {
    margin-bottom: clamp(14rem,18vw,20rem);
  }
  #blogs-featured .featured-blog {
    flex-direction: column;
    height: 40rem;
  }
  #blogs-featured .featured-blog .content {
    width: 100%;
    max-width: none;
  }
  #blogs-featured .featured-blog .blog-description {
    font-size: 1.0rem;
  }
  #blogs-featured .featured-blog .blog-date {
    font-size: 0.9rem;
    font-style: italic;
  }
  #blogs-featured .featured-blog .cover-img {
    width: 100%;
    border-radius: 0.5rem;
  }
  #blogs-featured .featured-blog .cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #blogs-featured .featured-nav {
    bottom: -1rem;
  }

  #blogs-recipes-popular .section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #blogs-recipes-popular .section-container .wrapper:last-of-type {
    justify-content: flex-start;
  }
  #blogs-recipes-popular .title {
    margin-bottom: 0rem;
  }
  #blogs-recipes-popular .title.recipes {
    width: 85%;
  }
  #blogs-recipes-popular .title.recent {
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 0.6rem;
  }
  #blogs-recipes-popular .recipe-blog .content .blog-title {
    margin-bottom: 1rem;
    width: 100%;
  }
  #blogs-recipes-popular .blog-subtitle {
    width: 100%;
  }
  #blogs-recipes-popular .recipe-blog .blog-date {
    width: 100%;
    padding-bottom: 1rem;
  }
  #blogs-recipes-popular .section-container .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #blogs-recipes-popular #blogs-recipes {
    width: 85%;
  }
  #blogs-recipes-popular .recipe-blog .content .wrapper:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  #blogs-recipes-popular .recipe-blog .cover-img {
    height: auto;
  }

  #blogs-recent {
    margin-bottom: 8rem;
  }
  #blogs-recent .recent-blog {
    box-shadow: 0rem 0rem 2rem 0rem rgba(0,0,0,0.1);
  }
  #blogs-recent .recent-blog-spacer {
    right: -5rem;
    position: relative;
  }

  #blog-all-toolbar .group.filter-buttons {
    width: 100%;
  }
  #blog-all-toolbar .section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  
  #blog-all-toolbar .section-container .wrapper {
    width: 100%;
  }
  #blog-all-toolbar .section-container .wrapper:last-of-type {
    align-items: flex-start;
    width: 90%;
  }
  #blog-all-toolbar .wrapper .search-icon {
    position: absolute;
    right: 1.4rem;
  }
  #blog-all-toolbar .section-container .filter-title {
    margin-bottom: 0.5rem;
  }

  #about-section .about-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  #about-section .about-container .wrapper:first-of-type {
    min-height: 25rem;
    width: 80%;
  }
}

@media (max-width: 800px) {
  #blogs-all .section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #admin-dash-stats .wrapper {
    grid-template-rows: 1fr 1.4fr;
    grid-template-columns: 1fr;
    justify-content: normal;
    gap: 2rem;
  }
  #admin-dash-stats .container.main {
    gap: 2rem;
  }
  #admin-dash-stats .stat-most-viewed .most-viewed-blog .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
  }
  #admin-dash-stats .container.most-viewed .stat-label {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  #blogs-all .all-blog {
    height: auto;
  }
}

@media (max-width: 630px) {
  .navbar .nav-menu {
    right: 7.5vw;
    left: 7.5vw;
  }
  .navbar .nav-list .nav-item {
    width: 100%;
  }

  #landing .group {
    gap: 1rem;
  }

  #blog-section {
    margin-bottom: clamp(15rem,30vw,23rem);
  }
  #blog-section #blog-bgBox {
    top: 22rem;
    left: -16rem;
  }
  #blog-section #blog-illustration {
    top: 22rem;
    left: -4rem;
    width: clamp(18rem,70vw,30rem);
  }
  #blog-section .blog-text {
    margin-right: 0rem;
  }
  #blog-section .blog-btn {
    margin-top: 1.5rem;
    margin-right: 0rem;
  }

  #recipes-section .recipe-bgBox {
    left: -47rem;
    top: 6rem;
  }
  #recipes-section .recipe-bgBox2 {
    display: none;
  }

  #blogs-nav .section-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  #blogs-nav .blog-title.blog-nav-title {
    line-height: 3.5rem;
    border-bottom: 3.5px solid var(--dark);
    margin-bottom: 1rem;
  }
  #blogs-nav .blogs-home-nav .blog-nav-home {
    margin-left: 0rem;
  }

  #blogs-featured {
    margin-bottom: clamp(12rem,calc(12vw + 4rem),14rem);

  }

  #blog-all-toolbar .section-container .filter-title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 530px) {
  .navbar .nav-text {
    font-size: 1.6rem;
    width: 10rem;
  }
  .navbar .nav-text-spacer {
    display: none;
  }

  #blog-section {
    margin-bottom: clamp(8rem,40vw,16rem);
  }
  #blog-section #blog-illustration {
    top: 26em;
    left: -2rem;
  }
  #blog-section #blog-bgBox {
    left: -19rem;
  }

  #recipes-box .recipe-post {
    max-height: 55rem;
  }

  #blogs-recipes-popular .title.recipes {
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: .6rem;
  }
  #blogs-recipes-popular #blogs-recipes { 
    width: 100%;
  }
}

@media (max-width: 480px) {
  #landing .hero-text {
    line-height: 3.5rem;
  }

  #login-main .wrapper {
    width: 100%;
  }

  #signup-main .wrapper {
    width: 100%;
  }
}

@media (max-width: 430px) {
  #landing {
    margin-bottom: clamp(1rem,8vw,3rem);
  }

  #recipes-box .cover-img {
    height: 12rem;
  }

  #blogs-featured .featured-blog .blog-title-featured {
    line-height: 2rem;
  }

  #blogs-recipes-popular .recipe-blog .content .blog-title {
    line-height: 2rem;
  }

  #blogs-recent {
    gap: 2rem;
  }
  #blogs-recent .recent-blog .cover-img {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
  }
  
  #blog-all-toolbar .group.filter-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 370px) {

  #landing #hero-illustration {
    width: 100%;
  }
  #blog-all-toolbar .section-container .filter-button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 0.2rem;
    width: 4rem;
  }
}