:root {
  --accent-color: #f8c6b7;
  --dark: #1a1a1a;
  --light: #fcfcfc;
}

.hidden {
  display: none;
}

body {
  margin: 0rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
body body.dark-mode {
  background-color: var(--dark);
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  z-index: 10;
}
body header.dark-mode {
  background-color: var(--dark);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  padding-top: 0rem;
}
.navbar .nav-text {
  transition: 0.15s ease-out;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.4rem;
  color: var(--dark);
}
.navbar .nav-text.dark-mode {
  color: var(--light);
}
.navbar .nav-text-spacer {
  position: relative;
  transition: 0.15s ease-out;
  height: 0.2rem;
  left: 0.6rem;
  bottom: 0.2rem;
  width: 7.7rem;
  background-color: var(--dark);
}
.navbar .nav-text-spacer.dark-mode {
  background-color: var(--light);
}
.navbar .nav-menu-btn {
  transition: font-size 0.15s ease-out;
  font-size: 2.2rem;
  padding: 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--dark);
  text-decoration: none;
}
.navbar .nav-menu-btn.dark-mode {
  color: var(--light);
}
.navbar .nav-menu-btn:hover {
  opacity: 0.8;
}
.navbar button {
  background: none;
  border: none;
}

#content {
  height: 300vh;
  width: 100%;
}

#landing {
  height: 650px;
}
#landing .container {
  position: relative;
  box-sizing: border-box;
  width: 85%;
  max-width: 800px;
  min-height: 320px;
  margin: auto;
  margin-top: 13rem;
  margin-bottom: 11rem;
  padding: 1rem;
}
#landing .container > * {
  margin: 0;
  padding: 0;
  width: auto;
}
#landing h3 {
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#landing h3.dark-mode {
  color: var(--light);
}
#landing .hero-description {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}
#landing .hero-learnmore-btn {
  width: 6rem;
  height: 2rem;
  border: solid 0.15rem;
  border-radius: 0.5rem;
  background-color: transparent;
  margin-top: 1rem;
}
#landing #hero-illustration {
  position: absolute;
  margin-top: 3rem;
  right: 0rem;
  width: 80%;
  min-width: 5rem;
  height: auto;
  z-index: 0;
  filter: invert(0);
}
#landing #hero-illustration.dark-mode {
  filter: invert(1);
}
#landing #landing-bgBox {
  position: relative;
  top: -52rem;
  left: -5rem;
  z-index: -1;
  border-radius: 10rem;
  transform: rotate(22deg);
  background-color: var(--accent-color);
  width: 150%;
  height: 120%;
}

@media (min-width: 320px) {
  header {
    height: 6rem;
  }
  #landing h3 {
    font-size: 2.1rem;
  }
}
@media (min-width: 430px) {
  #landing h3 {
    max-width: 30rem;
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  header {
    height: 5rem;
  }
}
@media (min-width: 1080px) {
  header {
    height: 4.8rem;
  }
}
@media (min-width: 1280px) {
  header {
    height: 4.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
