<footer id="footer-main">
  <div class="container no-border">
    <section class="footer-links">
      <nav>
        <ul class="footer-nav-menu">
          <li class="footer-nav-item"><a href="/">Home</a></li>
          <li class="footer-nav-item"><a href="/blog">Blog</a></li>
          <li class="footer-nav-item"><a href="/blog?section=all&filter=recipe">Recipes</a></li>
          <li class="footer-nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
    </section>
  </div>
</footer>